<form class="submission-form" [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
  <h1>SEND NOTIFICATION</h1>

    <label for="type">NOTIFICATION TYPE</label>
    
    <select name="type" id="type" formControlName= "type">
        <option value="EVENT">EVENT</option>
        <option value="URGENT_HELP">URGENT HELP</option>
        <option value="HOLIDAY">HOLIDAY</option>
        <option value="NAGARRO_NEWS">NAGARRO NEWS</option>
        <option value="NEW_POLICY">NEW POLICY</option>
    </select>
    
    <label for="message">
      NOTIFICATION Message
    </label>
    
    <textarea id="message" formControlName= "message"></textarea>
    
    <input type="submit" value="Send" id="sendBtn">

  </form>