<form class="submission-form">
    <label for="type">NOTIFICATION TYPE</lable>
    
    <select name="type" id="type">
        <option value="EVENT">EVENT</option>
        <option value="URGENT_HELP">URGENT HELP</option>
        <option value="HOLIDAY">HOLIDAY</option>
        <option value="NAGARRO_NEWS">NAGARRO NEWS</option>
        <option value="NEW_POLICY">NEW POLICY</option>
    </select>
    
    <label for="message">
      NOTIFICATION Message
    </label>
    
    <textarea id="message"></textarea>
    
    <input type="submit" value="Send" id="sendBtn">

  </form>