body{
    font-family: Arial, serif;
  }


  
  .submission-form{
    max-width:500px;
    margin:2rem auto;
    border:2px solid #E74C3C;
    padding:2rem;
    border-radius:5px; 
  }

  h1 {
    text-align: center;
  }

  select, textarea{
    display:block;
    width:480px;
    border:2px solid #2980B9;
    padding:.5rem;
    font-size:18px;
    border-radius:5px;
    
  }

  label{
    display:block;
    padding:1rem 0 .25rem;
    text-transform:uppercase;
    font-size:14px;
  }
  
  #sendBtn{
    border:0;
    background:#343050;
    padding:.5rem;
    color:white;
    margin:1rem 0;
    width:auto;
    text-transform:uppercase;
    cursor:pointer;
    transition:.3s background ease;
    border-radius:5px;
    
  }

  #sendBtn:hover{
    background:#3498DB;
  }